@font-face {
    font-family: "Manrope";
    src: url("/fonts/manrope/Manrope-VariableFont_wght.ttf") format("truetype");
    font-weight: 200 800;
    font-display: swap;
}

body {
    --font-sans: "Manrope", sans-serif;
}

.custom-module-selector {
    padding-top: 0rem;
    padding-bottom: 0.8rem;
    padding-left: 0.2rem;
    padding-right: 1rem;
    border-top: 1px solid var(--color-border);
    margin-top: 1rem;
}

.custom-module-selector select {
    width: 100%;
    padding: 0.5rem;
    font: inherit;
    border: 1px solid var(--color-border);
    background: var(--md-sys-color-surface);
    color: var(--color-text);
    border-radius: 4px;
}
